# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  # push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: Base content
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.base.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: terryz
          config_timezone: Asia/Shanghai
          base: header, repositories, activity, community, metadata
      - name: Data chart
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.chart.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: terryz
          config_timezone: Asia/Shanghai
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_traffic: yes
